#gfxnote { font-size: 9px; }

#footnote, #aktwer, .fragment pre, .more, #moznet, .newssig { font-size: 11px; }								
#navigUL li, .subNavig, #side, #zajawka, #main, #subMain, #subZajawka, .builds h4, .builds ul {font-size: 13px;}
#main h3, #subMain h3, .aktwerTxt {	font-size: 15px; }
.subNavig h2, #side h2 { font-size: 18px; }
#main h2, #subMain h2 { font-size: 21px; }
h1 {	font-size: 22px;	}	

#navigUL li {
		height: 23px;
}		

#navig ul li a, #navig ul li.current a {
		background-position: 13px 6px
}