/* jeśli dokładasz jakąś klasę - zrób to na KOŃCU pliku!. Dzięki. */
html, body	{background: #5478af url(/attic/firefox.pl-2004-2006/www/img/grdnt.png) repeat-x; margin: 0; padding: 0; text-align: center; min-width: 803px; }
td	{ color: #fff; }
ul, ul li { margin: 0; padding: 0; }
.podHR {	margin-top: 0;	}
.przedKoncem {	margin-bottom: 0;	}
a {color: #a8c1e9; text-decoration: underline; }
a:hover { text-decoration: none; }
a img { border: 0; vertical-align: middle; }	
#content { text-align: left; }
* { font-family: Tahoma, tahoma, verdana, arial, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-family: "Trebuchet MS", "trebuchet ms", trebuchet, tahoma, verdana, arial, sans-serif;	}
pre { font-family: "lucida console", "lucida mono", "luxi mono", monospace;}
h1 { margin: 0; padding-left: 10px; }
#topbar { margin: auto;	margin-top: 20px;	width: 801px; height: 247px; }
#tophl {	display: block; background: white no-repeat;	width: 211px; height: 278px; float: left; overflow: hidden;}
#topl_1 { width: 191px;	height: 128px;	background: url(/attic/firefox.pl-2004-2006/www/img/topl_1.jpg) no-repeat; float: right;	font-size: 1px; text-decoration: none; overflow: hidden; text-indent/**/: -999px; }
#topl_2 { width: 191px; height: 83px; background: url(/attic/firefox.pl-2004-2006/www/img/topl_2.png) no-repeat; float: right; text-decoration: none; font-size: 1px; overflow: hidden; text-indent/**/: -999px;}
#topl_2b { background: url(/attic/firefox.pl-2004-2006/www/img/topl_2b.gif) no-repeat; width: 129px;	height: 75px; display: block;	margin: 5px auto 0 auto; }
#topl_3 { width: 191px; height: 68px; background: url(/attic/firefox.pl-2004-2006/www/img/topl_3.jpg) no-repeat;	float: right; }
#tophl a { text-decoration: none; }
#topinfo { height: 278px; width: 327px; float: left; }
#topinfo1 { background: url(/attic/firefox.pl-2004-2006/www/img/topc_1.jpg) no-repeat; width: 327px; height: 96px; }
/* --- */
#topBlurb { margin-top: 33px; margin-right: 12px; display: block; background: url(/attic/firefox.pl-2004-2006/www/img/topc_2b.gif) no-repeat; width: 230px; height: 79px; text-indent: -999px; overflow: hidden; font-size: 1px; float: right; }
#topinfo2 { background: url(/attic/firefox.pl-2004-2006/www/img/topc_2.png) repeat-x;	width: 327px; height: 120px; }
#topinfo3 { background: url(/attic/firefox.pl-2004-2006/www/img/topc_3.jpg) no-repeat; width: 327px;	height: 62px; }
#dlbox { background: url(/attic/firefox.pl-2004-2006/www/img/topr.jpg) no-repeat 0 45px; height: 278px; width: 262px; float: left; }
.podstrona #dlbox { background-image: url(/attic/firefox.pl-2004-2006/www/img/topr-podstrona.jpg); }
#dlbox a { display: block; margin-top: 165px; left: 0; }
#dlbox a img { padding: 0; margin-left: -12px; }
#bottom { margin: auto;	width: 761px; background: url(/attic/firefox.pl-2004-2006/www/img/bottom761.jpg) no-repeat;	height: 61px;}
#footnote { padding-top: 10px; padding-left: 200px; color: #92a5c9; text-align: center; }
#gfxnote { padding-left: 80px; padding-top: 5px; text-align: left; }
#gfxnote a { color: #4a5e9f; text-decoration: none;  }
#gfxnote a:hover { text-decoration: underline; }
#content {
	background: #1a4a94;
	width: 761px; /* IE 5.0 */
	margin: 0 auto;
	margin-top: -1px; /* ugly hack, nie wiem dlaczego IE i Konq tego potrzebuja... */
	padding-left: 6px;
	padding-right: 6px;
	color: #fff;
 	voice-family: "\"}\""; /* box model hack */
	voice-family:inherit;
  	width: 749px; /* dobre przegladarki i IE6 */
}
.dummyclass1 {	}
#midtop { clear:both; }
#navig { float: left; display: block; width: 185px; }
#navigUL { width: 185px; list-style-type: none; padding: 0; background: #133d8c; }
#navigUL li { display: block; background: #133d8c; height: 17px; border-bottom: 1px solid #0c216b; border-top: 1px solid #2057b0; padding: 0; margin: 0; margin-top: -1px;	} 
#navigUL > li { height: 21px; margin-top: 0; }
#navigUL li.firstChild { border-top: 0; }
#navigUL li a { background: url(/attic/firefox.pl-2004-2006/www/img/bludot.gif) no-repeat 13px 5px; height: 100%; display: block; padding-top: 4px; padding-left: 29px; color: #fff; text-decoration: none; font-weight: bold; }
#navigUL li > a { background-position: 13px 4px; }
#navigUL > li a { padding-top: 3px; }
#navigUL li.current a { background: url(/attic/firefox.pl-2004-2006/www/img/reddot.gif) no-repeat 13px 4px; }
#navigUL li.current > a { background-position: 13px 4px; }
#navigUL li a:hover { background-color: #3c69bb; }
#navigUL li.current a { color: #f06c33; }
#navig_bottom { border-top: 1px solid #2057b0; background: url(/attic/firefox.pl-2004-2006/www/img/dolne.png) no-repeat; width: 186px;	height: 8px; display: block; margin-top: -1px; }
* > #navig_bottom { margin-top: 0; margin-bottom: 1px; }
.subNavig { float: left;  display: block;
 width: 184px; /* IE 5.0 */
 margin-top: -1px; /* IE */
 background: #133c8b url(/attic/firefox.pl-2004-2006/www/img/gorne.png) no-repeat; padding: 6px; padding-left: 12px;
 voice-family: "\"}\""; 
 voice-family:inherit;
 width: 166px; }
* > .subNavig { margin-top: 7px; } 
.subNavig_bottom { background: url(/attic/firefox.pl-2004-2006/www/img/dolne.png) no-repeat; width: 186px; height: 10px; display: block;}
.subNavig h2 { font-weight: bold; margin: 0; padding-bottom: 3px; }
.subNavig ul { padding-left: 13px; }
.subNavig ul li, #aktwer ul li, .arrow { list-style-image: url(/attic/firefox.pl-2004-2006/www/img/arrowse.gif); }
#aktwer ul > li { padding-bottom: 4px; }
.subNavig ul li a { color: #a8c1e9; text-decoration: underline; margin-left: -3px; }
.subNavig ul li a:hover { text-decoration: none; color: #e5f0ff; }
#side { float: right; width: 214px; }
.sideContent { padding-left: 12px; padding-right: 12px; padding-top: 6px; background: #28569a url(/attic/firefox.pl-2004-2006/www/img/topsidebgtop.png) no-repeat; margin-top: 6px; }
.sc_orng { background: #ff8625 url(/attic/firefox.pl-2004-2006/www/img/topsidebgtop-o.png) no-repeat; }
* > .sideContent { margin-top: 16px; }
#side h2 { margin-bottom: 5px; }
.side_bottom { background: #1a4a94 url(/attic/firefox.pl-2004-2006/www/img/topsidebgbottom.png) no-repeat; width: 214px; height: 10px; float: right; }
.sb_orng { background: #ff8625 url(/attic/firefox.pl-2004-2006/www/img/topsidebgbottom-o.png) no-repeat; }
#side h2 { margin-top: 0; margin-bottom: 6px; }
#side a { color: #a8c1e9; text-decoration: underline; }
#side a:hover { text-decoration: none; color: #e5f0ff; }
#side ul { padding-left: 18px; }
#side hr { background: #557bae; color: #557bae; height: 1px; border: 0; }
#side p { margin-top: 6px; margin-bottom: 6px; }
#aktwer { background: #28569a url(/attic/firefox.pl-2004-2006/www/img/topsidebg.png) no-repeat; margin-top: 0; padding-top: 0; }	
#aktwer ul { padding-left: 15px; }
#aktwer ul li a {	margin-left: -3px; }
.aktwerTxt { color: #f07636; font-weight: bold;	margin: 0; }
#main { background: #1a4a94; margin-left: 195px; margin-right: 223px; }
#main h2 { margin: 0; }
#main h3 { color: #a7c0e9; }
#zajawka { background: #133c8b; margin-bottom: 6px; }
.fragment p, .fragment h2, .fragment h3, .fragment h4, .fragment h5, .fragment h6, .fragment pre, .fragment table { padding-left: 10px; padding-right: 10px; }
.fragment ul {	padding-left: 35px; padding-right: 10px; }
#zajawka .przedKoncem, #subZajawka .przedKoncem { margin-bottom: -6px; }
.opis { background: #133c8b url(/attic/firefox.pl-2004-2006/www/img/main_gora.png) no-repeat; padding-top: 6px; }
.opis_bottom {	margin-top: -1px;	height: 16px; background: #1a4a94 url(/attic/firefox.pl-2004-2006/www/img/main_dol.png) no-repeat; }
#moznet { background: url(/attic/firefox.pl-2004-2006/www/img/topwave.png) no-repeat;	width: 819px; margin: auto; padding-left: 180px; height: 26px; margin-bottom: -26px;
 voice-family: "\"}\""; 
 voice-family:inherit;
 width: 639px;	}
.dummyclass3 {}
#moznet ul, #moznet li { list-style-type: none;	display: inline; }
#moznet li { padding-right: 1.5em; }
#moznet a {	color: #074c9c; text-decoration: none;	}
#moznet a:hover {	text-decoration: underline; }
.newssig { color: #a8c1e9; }
.more { text-align: right; }
.more a { text-decoration: none; }
.more a:hover { text-decoration: underline; }
#subMain { background: #1a4a94; margin-left: 195px; margin-right: 0px; }
#subMain h2 { margin: 0; }
#subMain h3 { color: #a7c0e9;	}
#subZajawka { background: #133c8b; margin-bottom: 6px;}
.subOpis { background: #133c8b url(/attic/firefox.pl-2004-2006/www/img/sm_gora.png) no-repeat; padding-top: 6px; }
.subOpis_bottom { margin-top: -1px; height: 16px; background: #1a4a94 url(/attic/firefox.pl-2004-2006/www/img/sm_dol.png) no-repeat; }
.hold3 { background: #1a4a94; margin-bottom: 6px; margin-left: -6px; margin-right: -6px; }
.hold3 table { border: 0; padding: 0; border-spacing: 6px 0; }
.builds { margin-bottom: 0;	}
.builds td { width: 180px; background: #133c8b url(/attic/firefox.pl-2004-2006/www/img/p-gora.png) no-repeat; text-align: center; padding-top: 6px; vertical-align: top; }
.bbot td { height:	9px; background: url(/attic/firefox.pl-2004-2006/www/img/p-dol.png) no-repeat; margin-bottom: 0; }
.t3pseudotop { height: 9px; width: 176px; background: url(/attic/firefox.pl-2004-2006/www/img/p-gora.png) no-repeat; }
#twin { padding-left: -6px; }
#tmac { padding-right: -6px; }	
.builds h4, .builds ul { color: #fff; font-weight: normal; text-align: left;	margin-left: 20px; margin-right: 20px; }
.builds h4 { margin-bottom: 2px; }
.builds ul { margin-left: 45px; list-style-image: url(/attic/firefox.pl-2004-2006/www/img/arrowse.gif); }
.builds li a {	margin-left: -3px; }
#sysreq { margin: 0 -1px; padding-top: 24px; background: url(/attic/firefox.pl-2004-2006/www/img/double.png) no-repeat; }
.styleswitcher { background: #1a4a94; }
.styleswitcher h2 { text-align: center; margin-bottom: 3px;	color: #416bab; font-size: 11px; }
#stsw { list-style-type: none; width: 78px; display: block; margin: auto; padding: 0; }
#stsw li { display: inline; text-align: center;	height: 30px; width: 26px; float: left; }
#stsw li a { display: block; text-decoration: none; }
#stsw li a:hover { background-color: #90addb; }	
#licencja { height: 550px; padding-left: 4px; padding-right: 0;overflow: auto;}
.fragment ul {	margin-top: 10px; }
.forbanner { text-align: center; }
.achide { display: none; }
.clickable { cursor: pointer; }
.leftimg { margin-right: 10px; float: left; }
.rightimg { margin-left: 10px; float: right; }  	
q { quotes: '\201E' '\201D' '\00BB' '\00AB' } 
dt { margin-left: 10px; font-weight: bold; color: #e3e8f1; }
tt { font-family: monospaced !important; }