/* © 2003 David Tenser. */

div.grid {
	margin-left: 3ex;
	margin-bottom: 3em;
}

div.grid div {
	float:left;
	width: 32ex;
}


div.grid div a {
    display: block;
    padding-left: 2px;
   	background-image: none;
}

div.grid h3 {
	clear: both;
	padding: 1ex 0 0 0;
	margin: 0 0 2px 0;
	border-bottom: 1px solid #ccc;
	text-transform: capitalize;
}



div.extensionicon {
	background: transparent url("../images/extensions.png") no-repeat top right;
}



div.extension {
	background: #f7f9ff;
	border: 1px solid #66c;
	max-width:90ex;
	margin-bottom: 1ex;
	padding: 1ex;
	clear: both;
}

div.extension h3 {
	font-size: 110%;
	font-weight: bold;
	background-color: transparent;
	color: #336;
	margin: 0ex 0 1ex 0;
	padding: 0px;
}

div.extension h3 a:link, div.extension h3 a:visited {
	color: #336;
	background: transparent;

}

div.author {
	margin: -1ex 1ex 1em 0ex;
	font-style: italic;
	font-size: 90%;
	color: #669;
	background: transparent;
}



div.extension div.info {
	float: right;
	text-align: left;
	padding: 0 1ex 1ex 1ex;
	font-size: 90%;
	margin: -7.4ex 0 1ex 1ex;
	line-height: 1.4em;
	color: #336;
	background: url("../../images/extension-info-back.png") no-repeat bottom left;
}


div.extension div.desc {
	color: black;
	background-color: transparent;
}
div.desc code {
	display: inline;
}




div.extension div.links {
	border-top: 1px solid #ccd;
	clear:both;
	color: #444466;
	background-color: transparent;
}





div.updated, div.updated a, span.updated {
  background-color: #ffffcc;
  color: #cc0000 !important;
}
