
div.theme {
	background: #f7f9ff;
	border: 1px solid #66c;
	max-width:70ex;
	margin-bottom: 1ex;
	padding: 0px;
}


div.theme img.screenshot {
	border:1px solid gray; margin:5px; height: 75px; float:left;
}

#firebirdhelp div.theme img.screenshot {
	min-width:150px;
}
#thunderbirdhelp div.theme img.screenshot {
	min-width:225px;
}



div.theme p.info {
	margin:5px 0px 0px 160px;
}
div.theme p.info img {
	vertical-align: middle;
	margin-right: 5px;
}


div.theme p.desc {
	margin:5px 5px 5px 5px;
	clear:both;
	color: #333366;
	background: transparent url("../images/themeinfo.png") no-repeat top left;
	padding-left: 18px;
	
}


div.themeicon {
  background: transparent url("../images/themes.png") no-repeat top right;
}

.themebox {
	  font-size: 85%;

}

/* For the theme listing */
.themebox div {
  float: left;
  height: 77px;
  font-size: 100%;
  margin-left: 0px;
  margin-bottom: 5px;
  padding: 1px;
  background: transparent;
}

#firebirdhelp .themebox div {
	width: 17ex;
	min-width: 130px;
}
#thunderbirdhelp .themebox div {
	width: 17ex;
	min-width: 160px;
}

div.updated a:link, div.updated a:visited {
	background-color: #ffffcc;
	color: #cc0000;
}

span.updated {
  background-color: #ffffcc;
  color: #cc0000;
}

.themebox img {
  border: 1px solid gray;
  margin: 0px;
  background: #ffffff;
  color: inherit;
}


#firebirdhelp .themebox img {
  height: 50px;
  width: 100px;
}
#thunderbirdhelp .themebox img {
  height: 50px;
  width: 150px;
}


div.updated img {
  border: 2px dashed red;
  margin: 0px;
}


.themebox img:hover {
	margin: -16px -25px -9px;
	position: absolute;
	z-index: 2;
} 
#firebirdhelp .themebox img:hover {
	height: 75px;
	width: 150px;
} 
#thunderbirdhelp .themebox img:hover {
	height: 75px;
	width: 225px;
} 


