div.theme {
	max-width:70ex;
}

div.theme img.screenshot {
	min-width:225px;
}

.themebox img {
  height: 50px;
  width: 150px;
}

.themebox img:hover {
  height: 75px;
  width: 225px;
  
} 

.themebox div {
  width: 17ex;
  min-width: 160px;
}