treechildren::-moz-tree-checkbox {
	list-style-image: url("chrome://deepestsender/skin/images/checkbox-empty.png");
}
treechildren::-moz-tree-checkbox(checked) {
	list-style-image: url("chrome://deepestsender/skin/images/checkbox-checked.png");
}
treechildren::-moz-tree-row(selected) {
	background-color: -moz-Dialog !important;
}
treechildren::-moz-tree-row(selected, focus) {
	background-color: Highlight !important;
}
treechildren::-moz-tree-cell-text(selected) {
	color: -moz-DialogText !important;
}

treechildren::-moz-tree-cell-text(selected, focus) {
	color: HighlightText !important;
}
