/*/*/

	body {
		background: #ffd9b6 url(img/back.png) repeat-x;
		font-family: arial, helvetica, sans-serif;
		padding: 0;
		margin: 0;
		color: #000;
	}
	
	h1 {
		font-size: 1.4em;
		top: -99999px;
		display: block;
		position: absolute;
	}

	
	a {
		color: #c00;
	}
	
	strong {
		font-weight: bold;
	}

	.ac {
		display: none;
	}


	#content {
		margin: 0;
		margin-top: 10px;
		padding: 0;
		width: 100%;
	}
	
	.kolumny {
	    display: block;
	    float: left;
	    width: 30%;
	    margin-left: 1.8%;
	    background: #fcf4e9;
	    padding: 5px;
	}
	
	.kolumny h2 {
	    font-weight: normal;
	    font-family: arial, helvetica, sans-serif;
	    color: #f76b00;
	    padding: 0;
	    margin: 0;
	    border-bottom: 1px solid #f76b00;
	}
	
	.kolumny h3 {
	    font-weight: normal;
	    font-family: arial, helvetica, sans-serif;
	    color: #f76b00;
	    padding: 0;
	    margin: 1em 0 0 0;
	}
	
	.kolumny p {
	    margin: 0 0 0 0.8em;
	}
	
	#topbar {
		background: #fff3e8 url(img/bg1.jpg) no-repeat;
		padding: 8px;
		height: 96px;
		color: #fff;
		margin: 0;
		font-size: 2em;
		width: auto;
	}
	
	#topbar img {
		vertical-align: middle;
	}
	
	#footer {
		padding-top: 1.7em;
		margin-right: 1em;
		font-size: 0.7em;
		text-align: right;
		display: block;
	}
	
	#menu ul {
		list-style-type: none;
	}
	
	#menu ul li {
		display: inline;
	}

	#menu {
		background: #ffac53 url(img/menubg.png) repeat-x;
		margin: 0;
	}
	

	#menu ul li a {
		color: #a04d00;
		text-decoration: none;
		font-size: 0.8em;
		padding: 2px 5px 2px 5px;
		border-right: 1px dotted #ff891c;
		margin: 0;
	}
	
	#menu ul li a:hover {
		background: #fff url(img/menubg1.png) repeat-x;
		color: #000;
	}



	.hn4 {
		display: none;
	}
	
	#menu ul {
		background: #ffac53 url(img/menubg.png) repeat-x;
		list-style-type: none;
		display: block;
		margin: 0;
		padding: 0;
		left: 0;
		right: 0;
		border-bottom: 2px solid #ff891c;
	}



	#menu ul li {
		background: #ffac53 url(img/menubg.png) repeat-x;
		display: inline;
		margin: 0;
		padding: 0;
	}
	
	
	#xcl {
	    clear: both;
	}

	.builds {
	    margin-top: 0.7em;
	}	
	.builds li {
	    padding-left: 0.3em;
	}
	
	.linuxbuild {
	    list-style-image: url(icons/lin.gif);
	}
	
	.winbuild {
	    list-style-image: url(icons/win.gif);
	}
	
	.macbuild {
	    list-style-image: url(icons/mac.gif);
	}
	
	.fbsdbuild {
	    list-style-image: url(icons/bsd.gif);
	}
	
	.qnxbuild {
	    list-style-image: url(icons/qnx.gif);
	}
	
	.solarisbuild {
	    list-style-image: url(icons/solaris.gif);
	}
	
	.langpack {
	    list-style-image: url(icons/poland.gif);
	}
	
	.newsfoot {
	    font-size: 0.8em;
	    text-align: right;
	}
	
	