body {
	background: #fff url("img/body_back.gif") repeat-x;
	font-family: verdana,sans-serif;
	font-size: small;
	min-width: 670px;
	margin: 20px 30px 2em 30px;
}

a:link { color: #039; }
a:visited { color: #609; }
a:hover { color: #333; }
a:active { color: #000; }

img {
	border: none;
}

#container {
	text-align: center;
	margin: 0 auto;
	width: 620px;
}

#mBody {
	width: 620px;
	text-align: left;
	clear: both;
	margin: 20px 0 0 0;
	padding: 0;
}

#mBody h2 {
	font: 140% arial,helvetica,verdana,sans-serif;
	border-bottom: 1px solid #ccc;
	margin: 0;
}

#mBody h3 {
	font: 100% verdana,sans-serif;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	margin: 0;
}

#side {
	float: right;
	width: 30%;
	margin: 0 0 20px 0;
}

#mainContent { 
	float: left;
	width: 65%;
	margin: 0 0 20px 0;
	padding: 0;
}

#footer {
	clear: both;
	border-top: 1px solid #999;
	text-align: center;
}

p {
	line-height: 140%;
}

#footer p, #footer p a {
	color: #666;
}
	
#footer p a:hover {
	color: #000;
}
	
.skipLink {
	position: absolute;
	left: -1200px;
	width: 990px;
}

.first { margin-top: 0.2em; }

dt { font-weight: bold; }

	    #top {
		width: 620px;
		color: #fff;
		margin: 15px auto 10px auto;
		padding: 0;
		font-size: 32px;
		background: #455372 url(img/header_bl.png) no-repeat bottom left;
	    }
	    
	    #top h1 {
		margin: 0 0 0 0;
		padding: 12px 0 0 20px;
		background: transparent url(img/header_tl.gif) no-repeat top left;
		text-align: left;
	    }
	    
	    #top h1 a {
		display: block;
		height: 48px;
		background: transparent url(img/apl.gif) no-repeat 0 0;
		text-indent: -99999px;
		font-size: 12px;
		width: 250px;
	    }
	    
	    
	    #top #tr {
		background: transparent url(img/header_tr.gif) no-repeat top right;
		width: 10px;
		height: 10px;
		float: right;
	    }

	    #br {
		margin: 0;
		background: transparent url(img/header_br.gif) no-repeat bottom right;
		width: 100%;
		display: block;
		height: 10px;
		font-size: 5px; /* IE IS STUPID!!!!11 */
	    }
	    
	    #top h1 a:focus {
		-moz-outline: 0;
	    }
	    
	    #top h1 a:active {
		-moz-outline: 0;
		opacity: 0.8;
	    }
