#sidebarBox {
background:#FFF;
float:right;
margin:0;
padding-bottom:25px;
padding-left:25px;
padding-right: 5px;
width:25em;
}

* {
font-family:verdana, arial, "ms sans serif", sans-serif;
}

a {
color:#011E56;
text-decoration:underline;
}

a img {
border:0;
}

a:hover {
text-decoration:none;
}

body {
font-size:11px;
margin:0;
padding:15px;
background-color: white;
}

div {
margin:10px;
}

h1 {
background:#173154;
color:#FFF;
font-weight:400;
letter-spacing:-2px;
margin-left:-15px;
margin-right:-15px;
padding:20px;
text-transform:lowercase;
}

h2,h3,h4,h5,h6 {
color:#E06400;
}

h3 {
border-top:1px solid #BDBDBD;
margin-top:10px;
padding-top:10px;
}

a.rssLink {
text-indent:-5120px;
background:url(http://static.aviary.pl/feed.14t.png) #fff center center no-repeat;
display:block;
width:14px;
height:14px;
float:left;
margin-left:5px;
padding-left:0;
}

#sidebarBox h2 a {
text-decoration:none;
color:#E06400;
float:left;
}

#sidebarBox h2 a.rssLink {
height:1.25em;
}

#sidebarBox ul li a {
padding-left:0;
float:left;
}

#sidebarBox ul li {
overflow:hidden;
padding:2px 0 2px 0;
list-style-type:none;
}

#sidebarBox h2 {
overflow:auto;
}
