#aboutds {
	list-style-image: url(chrome://deepestsender/skin/images/deepestsender.png);
	margin-right: 1em;
	margin-top: 1em;
}

#book {
	list-style-image: url(chrome://deepestsender/skin/images/booksmall.png);
	margin-left: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.dssmall {
	width: 20px;
	height: 20px;
	margin-left: 5px;
	margin-right: 5px;
	list-style-image: url(chrome://deepestsender/skin/images/ds20.png);
}

.Bolded {
	font-weight: bold;
}

