#logo {
	list-style-image: url(chrome://deepestsender/skin/images/ds.png);
	width: 200px;
	height: 150px;
}

#status {
	font-size: smaller;
}

.icons > .menulist-label-box > .menulist-icon, .icons > .menu-iconic-left > .menu-iconic-icon {
	width: 16px;
	height: 16px;
	min-height: 16px;
	margin-right: 4px;
}

.icons > .menu-iconic-left {
	display: -moz-box;
	min-height: 16px;
}

.menu-iconic-accel {
	display: none !important;
}