#deepestsender-button {
	list-style-image: url(chrome://deepestsender/skin/images/ds32.png);
	-moz-image-region: rect(0 32px 32px 0);
}

#deepestsender-button:hover {
	list-style-image: url(chrome://deepestsender/skin/images/ds32-hover.png);
	-moz-image-region: rect(0 32px 32px 0);
}

toolbar[iconsize="small"] #deepestsender-button, .dssmall {
	list-style-image: url(chrome://deepestsender/skin/images/ds20.png);
	-moz-image-region: rect(0 20px 20px 0);
}

toolbar[iconsize="small"] #deepestsender-button:hover {
	list-style-image: url(chrome://deepestsender/skin/images/ds20-hover.png);
	-moz-image-region: rect(0 20px 20px 0);
}

#tasksMenuDS, #mini-ds, #dstoolsmenu, #ds-postpageitem {
	list-style-image: url(chrome://deepestsender/skin/images/ds16.png);
}

#tasksMenuDS:hover, #mini-ds:hover, #dstoolsmenu:hover, #ds-postpageitem:hover {
	list-style-image: url(chrome://deepestsender/skin/images/ds16-hover.png);
}
