#dsprefs radio[pane] {
   list-style-image: url("chrome://deepestsender/skin/images/prefs.png"); 
}
radio[pane=mainoptions] {
	-moz-image-region: rect(0px, 32px,  32px, 0px)
}
radio[pane=formattingoptions] {
	-moz-image-region: rect(0px, 64px,  32px, 32px)
}
radio[pane=musicoptions] {
	-moz-image-region: rect(0px, 96px,  32px, 64px)
}