	body {
		background: #95bfdb url(img/paski.gif);
		color: #222;
		text-align: center;
		padding: 0;
		margin: 0;
		font-family: verdana, vera sans, luxi sans, sans-serif;
	}
	#container {
		background-color: #f6fbff;
		color: #00345c;
		width: 750px;
		border: 2px solid #659cc7;
		border-top: 0;
		margin: auto;
		text-align: left;
	}

	.for2col {
		background: #f6fbff url(img/wmainbg.png) repeat-y;
	}

	#topbar {
		display: block;
		background: #29477c;
		color: #abcdef;
		border-top: 4px solid #659cc7;
		height: 12px;
		font-size: 10px;
		padding: 10px;
		text-align: right;
	}

	#topbar a { color: #f6fbff; }
	#footer a { color: #abcdef; }

	#footer {
		padding: 13px 10px;
		font-size: 10px;
		text-align: center;
		background: #608eb3;
		color: #d5eafa;
	}
	#footer p {
		margin: 0;
	}

	h1, h2, h3, h4, h5, h6 { 
		font-weight: normal; 
		color: #df7319;
	}

	h1 {
		margin: 0;
		font-size: 18px; 
	}

	h2 { font-size: 14px; }

	h3 { font-size: 12px; }

	h4 { font-size: 10px; }

	h5 { font-size: 9px; }

	h6 { font-size: 8px; }

	#col1of1 {
		width: 720px;
		padding: 15px;
	}

	#col1of2 {
		width: 470px;
		padding: 15px;
		float: left;
	}

	#col2of2 { 
		padding: 0;
		width: 250px;
		float: right;
		background: #d5eafa;
	}

	#col2of2 h2 {
		margin-top: 0;
		display: block;
		color: #f6fbff;
		background: #659cc7;
		padding: 3px 10px;
		line-height: 20px;
	}

	#col2of2 ul {
		font-size: 10px;
	}

	#col1of2, #col1of1 {
		font-size: 12px;
		line-height: 21px;
	}
	.cl { clear: both; }

	a {
		color: #659cc7;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	#homelink {
		display: block;
		width: 750px;
		height: 0px;
		padding-top: 160px;
		background: #446a97 url(img/wtop.jpg);
		overflow: hidden;
		margin: 0;
	}


	#menu {
		background: #608eb3;
		color: #00345c;
		font-size: 10px;
	}
	#menu ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		line-height: 30px;
	}
	#menu ul li {
		display: inline;
		margin: 0;
	}
	#menu a {
		padding-left: 10px;
		padding-right: 10px;
		line-height: 30px;
		font-weight: bold;
		color: #f6fbff;
	}
	#menu a:hover {
		color: #d5eafa;
		text-decoration: none;
		border-bottom: 0.8em solid #d5eafa;
	}

	dt { font-weight: bold; }

	.inlineimg { vertical-align: middle; margin-right: 0.5em; }
	.logofloat { padding: 10px; float:right; }

	#col2of2 ul, #col2of2 p {
		font-size: 10px;
                margin-right: 5px;
	}

