	body {
		background: #9f714c url(b-img/paski.gif);
		color: #fff;
		text-align: center;
		padding: 0;
		margin: 0;
		font-family: verdana, vera sans, luxi sans, sans-serif;
	}
	#container {
		background-color: #ffffee;
		color: #4b320b;
		width: 750px;
		border: 2px solid #ca966c;
		border-top: 0;
		margin: auto;
		text-align: left;
	}

	.for2col {
		background: #ffffee url(b-img/wmainbg.png);
	}

	#topbar {
		display: block;
		background: #d8bda7;
		color: #4b320b;
		border-top: 4px solid #ca966c;
		height: 12px;
		font-size: 10px;
		padding: 10px;
		text-align: right;
	}
	#footer {
		padding: 13px 10px;
		font-size: 10px;
		text-align: center;
		background: #d8bda7;
		color: #4b320b;
	}
	#footer p {
		margin: 0;
	}

	h1, h2, h3, h4, h5, h6 { 
		font-weight: normal; 
		color: #c74;
	}

	h1 {
		margin: 0;
		font-size: 18px; 
	}

	h2 { font-size: 14px; }

	h3 { font-size: 12px; }

	h4 { font-size: 10px; }

	h5 { font-size: 9px; }

	h6 { font-size: 8px; }

	#col1of1 {
		width: 720px;
		padding: 15px;
	}

	#col1of2 {
		width: 470px;
		padding: 15px;
		float: left;
	}

	#col2of2 { 
		padding: 0;
		width: 250px;
		float: right;
		background: #ececdc;
	}

	#col2of2 h2 {
		margin-top: 0;
		display: block;
		color: #ececdc;
		background: #ca966c;
		/* background: #cc7744; */
		padding: 3px 10px;
		line-height: 20px;
	}

	#col2of2 ul {
		font-size: 10px;
	}

	#col1of2, #col1of1 {
		font-size: 12px;
		line-height: 21px;
	}
	.cl { clear: both; }

	a {
		color: #a58572;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}


	#homelink {
		display: block;
		width: 750px;
		height: 0px;
		padding-top: 160px;
		background: #e6d5c1 url(b-img/wtop.jpg);
		overflow: hidden;
		margin: 0;
	}


	#menu {
		background: #d8bda7;
		color: #4b320b;
		font-size: 10px;
	}
	#menu ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		line-height: 30px;
	}
	#menu ul li {
		display: inline;
		margin: 0;
	}
	#menu a {
		padding-left: 10px;
		padding-right: 10px;
		line-height: 30px;
		font-weight: bold;
	}
	#menu a:hover {
		border-bottom: 0.8em solid #a58572;
		text-decoration: none;
	}

	dt { font-weight: bold; }

	.inlineimg { vertical-align: middle; margin-right: 0.5em; }
	.logofloat { padding: 10px; float:right; }

	#col2of2 ul, #col2of2 p {
		font-size: 10px;
                margin-right: 5px;
	}
